<tr id="row-table-schedules-{{id_diayhoraNueva}}">
    <td class="container-elements-centered">
        <button type="submit" class="btn btnControlRed" onclick="deleteSchedule({{id_diayhoraNueva}})">
            <i class='bx bx-trash bx-tada-hover iconRed'></i>
        </button>
    </td>
    <td>{{day_schedule}}</td>
    <td>{{starttime_schedule}}</td>
    <td>{{endtime_schedule}}</td>    
</tr>