<tr id="row-table-enrolleds-{{id_matriculaNueva}}">
    <td>
        <div class="button-transparent">
            <i class='bx bx-trash bx-tada-hover iconRed' onclick="deleteEnrolled({{id_matriculaNueva}})"></i>
        </div>
    </td>
    <td>{{code_user}}</td>
    <td>{{names_user}}</td>
    <td>{{surnames_user}}</td>
    <td>{{name_module}}</td>
    <td>{{name_schedulegroup}}</td>
</tr>